.page {
  --background: #a6d9f9;
  --foreground: #fcf8fa;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  margin-bottom: 5rem;
}

.mainImage {
  padding: 1rem;
  margin-top: -2rem;
  width: 100%;
}

.content {
  max-width: 50rem;
}

.surface {
  background: var(--foreground);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 2px;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.surface-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.xmas-link {
  color: var(--text-primary);
  text-decoration: underline;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #29357f;
    --foreground: #1a161a;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
} */
